In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import time
import warnings
warnings.filterwarnings('ignore')

In [5]:
#the purpose of this capstone will be to determine how global temperatures, global temps by city, country, state, and major city all help predict temperatures in the future.
#first, let's load the 5 data sets we'll work with
global_temps = pd.read_csv('/home/leslie-jordan/Downloads/GlobalTemperatures.csv')
global_temp_country = pd.read_csv('/home/leslie-jordan/Downloads/GlobalLandTemperaturesByCountry.csv')
global_temp_state = pd.read_csv('/home/leslie-jordan/Downloads/GlobalLandTemperaturesByState.csv')
global_temp_major_city = pd.read_csv('/home/leslie-jordan/Downloads/GlobalLandTemperaturesByMajorCity.csv')
global_temp_city = pd.read_csv('/home/leslie-jordan/Downloads/GlobalLandTemperaturesByCity.csv')

In [34]:
#next, let's clean the data on each data set by fist exploring the data set and then dropping duplicates
#we will evaluate missing values where need be
#let's start with the global_temps and then work our way down the list of data sets in In [5]

#global_temps
global_temps.head()
global_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3192 non-null   float64
 2   LandAverageTemperatureUncertainty          3192 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [35]:
#drop duplicates
global_temps.drop_duplicates(inplace=True)

In [36]:
#let's drop missing values on the average, max, min, and LandAndOceanAverage temperatures since those will be the columns used for analysis.
global_temps.dropna(subset=['LandAverageTemperature'], inplace=True)
global_temps.dropna(subset=['LandMaxTemperature'], inplace=True)
global_temps.dropna(subset=['LandMinTemperature'], inplace=True)
global_temps.dropna(subset=['LandAndOceanAverageTemperature'], inplace=True)

In [37]:
#now, let's check our cleaning work
global_temps.describe()
global_temps.isnull().sum()

dt                                           0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [38]:
#great! let's do this for the other data sets as well

#global_temp_country
global_temp_country.head()
global_temp_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

In [39]:
#drop duplicates
global_temp_country.drop_duplicates(inplace=True)

In [40]:
#let's drop the missing values for AverageTemperature since these values will be used for analysis later
global_temp_country.dropna(subset=['AverageTemperature'], inplace=True)

In [41]:
#now, let's check our cleaning work
global_temp_country.describe()
global_temp_country.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
Country                          0
dtype: int64

In [42]:
#great! next data set, here we go

#global_temp_state
global_temp_state.head()
global_temp_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

In [43]:
#drop duplicates
global_temp_state.drop_duplicates(inplace=True)

In [44]:
#let's drop the missing values for AverageTemperature since these values will be used for analysis later
global_temp_state.dropna(subset=['AverageTemperature'], inplace=True)

In [45]:
#now, let's check our cleaning work
global_temp_state.describe()
global_temp_state.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
State                            0
Country                          0
dtype: int64

In [46]:
#great! next data set, here we go

#global_temp_major_city
global_temp_major_city.head()
global_temp_major_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [50]:
#drop duplicates
global_temp_major_city.drop_duplicates(inplace=True)

In [51]:
#let's drop the missing values for AverageTemperature since these values will be used for analysis later
global_temp_major_city.dropna(subset=['AverageTemperature'], inplace=True)

In [52]:
#now, let's check our cleaning work
global_temp_major_city.describe()
global_temp_major_city.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [53]:
#great! onto our last data set

#global_temp_city
global_temp_city.head()
global_temp_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [54]:
#drop duplicates
global_temp_city.drop_duplicates(inplace=True)

In [55]:
#let's drop the missing values for AverageTemperature since these values will be used for analysis later
global_temp_city.dropna(subset=['AverageTemperature'], inplace=True)

In [56]:
#now, let's check our cleaning work
global_temp_city.describe()
global_temp_city.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [ ]:
#great! all of our data is cleaned and ready to analyze/work with
#we might consider to join these tables in the future in case comparing temperatures across cities, countries, etc. might be useful
#for now, let's avoid joining them until we explore the data further and see what trends come up